.post {
    margin-bottom: 3rem;
    padding: 2.5rem;
    overflow: hidden;
    background-color: #202020;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

@media screen and (max-width: 575px) {
    .post {
        padding: 1.5rem;
    }
}

.post__header {
    margin: 0 0 2.5rem;
}

.post__header--preview {
    margin: -2.5rem -2.5rem 2.5rem;
}

.post__preview {
    display: block;
    max-width: 100%;
    height: auro;
}

.post__content {
    margin-bottom: 2rem;
}

.post__title {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
    line-height: 1.4;
}

.post__title a {
    color: inherit;
    text-decoration: none;
}

.post__title a:hover {
    text-decoration: underline;
}

.post__title--open {
    margin-bottom: 0.75rem;
}

.post__subtitle {
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
}

.post__description {
    font-size: 1.4rem;
    color: #d2d2d2;
}

.post__text {
    padding-bottom: 1rem;
    font-size: 1.4rem;
    color: #fff;
    border-bottom: 1px solid #1c1c1c;
}

.post__text h2,
.post__text h3,
.post__text h4,
.post__text h5,
.post__text h6 {
    font-weight: 600;
    margin-bottom: 2rem;
}

.post__text h2 {
    font-size: 1.5em;
}

.post__text h3 {
    font-size: 1.25em;
}

.post__text h4 {
    font-size: 1.15em;
}

.post__text h5,
.post__text h6 {
    font-size: 1em;
}

.post__text ul,
.post__text ol {
    margin-bottom: 2rem;
}

.post__text ol {
    list-style: decimal;
    list-style-position: inside;
}

.post__text table {
    width: 100%;
    margin-bottom: 2rem;
}

.post__text img {
    display: block;
    max-width: 100%;
    height: auto;
}

.post__text a {
    color: #3137c9;
}

.post__text p {
    margin-bottom: 2rem;
}

.post__footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 575px) {
    .post__footer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}

.post__data {
    display: -ms-flexbox;
    display: flex;
    color: #828282;
    line-height: 1.2rem;
}

.post__data a {
    color: inherit;
}

@media screen and (max-width: 575px) {
    .post__data {
        margin-bottom: 0.8rem;
        font-size: 1.2rem;
    }
}

.post__data-item:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;
    border-radius: 50%;
    background-color: #c4c4c4;
}

.post-read {
    font-size: 1.4rem;
    color: #107eff;
}

@media screen and (max-width: 575px) {
    .post-read {
        font-size: 1.2rem;
    }
}

.post__actions {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    color: #fff;
}

.post__actions a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}

.post__actions a:hover {
    text-decoration: underline;
    opacity: 1;
}

.post__actions-icon {
    margin-left: 0.5rem;
}
.embed,
.fr-video {
    display: block;
    position: relative;
    overflow: hidden;
}

.embed:before,
.fr-video:before {
    content: "";
    display: block;
    padding-top: 56.25%;
}

.embed iframe,
.embed video,
.embed object,
.embed embed,
.fr-video iframe,
.fr-video video,
.fr-video object,
.fr-video embed {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.related {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #1c1c1c;
}

.related__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media screen and (max-width: 575px) {
    .related__list {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.related__list-item {
    width: 50%;
    margin-bottom: 2.5rem;
}

@media screen and (max-width: 575px) {
    .related__list-item {
        width: 100%;
    }
}

.related__list-title {
    font-size: 1.4rem;
    color: #f3eba2;
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.related__list-title a {
    color: inherit;
}

.related__list-date {
    color: #828282;
    font-size: 1.2rem;
}

.comments {
    margin-top: 5rem;
}

.comments__item {
    margin-bottom: 3rem;
}

.comments__item > .comments {
    padding-left: 3rem;
    margin-top: 3rem;
}

@media screen and (max-width: 575px) {
    .comments__item > .comments {
        padding-left: 1.5rem;
    }
}

.comments__header {
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
}

.comments__avatar {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.comments__author {
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
}

.comments__name {
    color: #fff;
    font-weight: 500;
}

.comments__pubdate {
    color: #757575;
}

.comments__text {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.3;
    color: #fff;
}

.comments__reply {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.2rem;
    line-height: 1.1;
    color: #3137c9;
}

.comments__reply:hover {
    text-decoration: underline;
}
.form--auth {
    max-width: 28rem;
    margin: 0 auto;
}

.form__group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form__group--md {
    margin-bottom: 2.5rem;
}

.form__control {
    display: block;
    width: 100%;
    padding: 0.5rem 0 0.75rem;
    background: none;
    border: none;
    border-bottom: 1px solid #3f3f3f;
    border-radius: 0;
    box-shadow: none;
    font-family: inherit;
    font-size: 1.4rem;
    color: #fff;
}

.form__control:focus + .form__line {
    width: 100%;
}

.form__control::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-moz-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control::placeholder {
    color: rgba(255, 255, 255, 0.2);
}

.form__control--textarea {
    height: 32px;
    overflow: hidden;
    resize: none;
}

.form__line {
    width: 0;
    height: 1px;
    background-color: #3137c9;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    transition: width 0.2s linear;
}

.form__footer--center {
    text-align: center;
}

.form__footer-list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 1.2rem;
    line-height: 1.2;
}

.form__footer-list li {
    margin: 1rem;
}

.form__footer-list a {
    color: #fff;
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.11em 2.1em;
    background: #121212;
    border: none;
    cursor: pointer;
    border-radius: 3em;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.1;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.2s linear;
}

.btn:hover {
    text-decoration: none;
}

.btn--red {
    background-color: #ed3024;
    box-shadow: 0 7px 17px -10px rgba(237, 48, 36, 0.3);
}

.btn--red:hover,
.btn--red:focus {
    background-color: #cd1c11;
    text-decoration: none;
}

.btn--blue {
    background-color: #3137c9;
    box-shadow: 0 7px 17px -10px rgba(49, 55, 201, 0.3);
}

.btn--blue:hover,
.btn--blue:focus {
    background-color: #272ca0;
}
.btn--rounded {
    border-radius: 0.41em;
}

.btn--sm {
    padding: 0.7em 1.25em;
}
